{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Header</title>
      <h4>header</h4>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
            {%csrf_token%}
            <button type="submit">logout</button>
          </form>
        </li>
        <li><a href="{% url 'article:create' %}" class="highlight">New Article</a></li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
